%p#notice= notice

%p
  %b Act:
  = @kindness.act
%p
  %b Friend:
  = @kindness.friend
%p
  %b Author:
  = @kindness.author_id

= link_to 'Edit', edit_kindness_path(@kindness)
\|
= link_to 'Back', kindnesses_path
