%h1 Listing friends

%table
  %thead
    %tr
      %th Name
      %th Picture
      %th
      %th
      %th

  %tbody
    - @friends.each do |friend|
      %tr
        %td= friend.name
        %td= friend.picture
        %td= link_to 'Show', friend
        %td= link_to 'Edit', edit_friend_path(friend)
        %td= link_to 'Destroy', friend, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Friend', new_friend_path
